# Dom√°c√≠ √∫kol ƒç. 1 - üïµÔ∏è‚Äç‚ôÄÔ∏è Exploraƒçn√≠ anal√Ωza dat

## üìö Data
V souborech `intakes.csv` a `outcomes.csv` naleznete data z √∫tulku ve mƒõstƒõ Austin, Texas USA. Data poch√°zej√≠ z ofici√°ln√≠ho [zdroje otev≈ôen√Ωch dat mƒõsta Austin](https://data.austintexas.gov/).

Dataset [intakes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) obsahuje data o p≈ôijat√Ωch zv√≠≈ôatech od 1. 10. 2013 do 27. 4 2022. Dataset [outcomes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238) obsahuje √∫daje o zv√≠≈ôatech, kter√° √∫tulek opustila (nap≈ô. byla adoptov√°na, vr√°cena majiteli a podobnƒõ) za tent√Ω≈æ ƒçasov√Ω interval. M≈Ø≈æe se st√°t, ≈æe zv√≠≈ôata p≈ôijat√° do 1. 10. 2013 se nevyskytuj√≠ v `intakes.csv` (data se je≈°tƒõ neshroma≈æƒèovala), ale budou m√≠t z√°znam v `outcomes.csv`, pokud √∫tulek po tomto datu opustila.

‚òùÔ∏è Ka≈æd√Ω dataset m≈Ø≈æe **stejn√© zv√≠≈ôe obsahovat v√≠ckr√°t** (1. nƒõkter√° zv√≠≈ôata se do √∫tulku vracela - to je trochu komplikace, pokud byste datasety chtƒõli spojit - pro ≈ôe≈°en√≠ √∫kolu spojov√°n√≠ ale nen√≠ nutn√©, 2. nƒõkter√© z√°znamy jsou duplicitn√≠ - ty m≈Ø≈æete odstranit, jedn√° se o chybu). 

## Zad√°n√≠
> ‚òùÔ∏è Pou≈æ√≠vejte markdown bu≈àky! Zd≈Øvod≈àujte v≈°echny d≈Øle≈æit√© kroky, popisujte vizualizace a co je z nich mo≈æn√© pozorovat. Za nep≈ôehledn√Ω dom√°c√≠ √∫kol nebudou udƒõleny body.

Za ≈ô√°dn√© pr≈Øbƒõ≈æn√© komentov√°n√≠ a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø lze z√≠skat a≈æ 3 body.

**‚ú® P≈ô√≠prava dat** (celkem 4 body)
* Importujte pot≈ôebn√© bal√≠ƒçky.
* Naƒçtƒõte si datasety intakes a outcomes z p≈ô√≠slu≈°n√Ωch csv soubor≈Ø.
* Seznamte se s obƒõma datasety a sv√° zji≈°tƒõn√≠ komentujte:
  * P≈ô√≠klad informac√≠, kter√© lze zjistit: poƒçet ≈ô√°dk≈Ø datasetu, poƒçet a v√Ωznam p≈ô√≠znak≈Ø, datov√Ω typ p≈ô√≠znak≈Ø a poƒçet jejich unik√°tn√≠ch hodnot, ...
* Vyƒçistƒõte a zkonvertujte data:
  * Zjistƒõte jak√Ωm zp≈Øsobem jsou v datasetu uv√°dƒõny chybƒõj√≠c√≠ hodnoty a v p≈ô√≠padƒõ pot≈ôeby je p≈ôepi≈°te na NaN.
  * Zkonvertujte kategorick√© p≈ô√≠znaky na typ category.
  * P≈ôeveƒète p≈ô√≠znak Age upon Intake/Outcome na numerick√Ω p≈ô√≠znak.
  * P≈ôeveƒète p≈ô√≠znak DateTime na typ datetime64.
  * Proveƒète v≈°echny dal≈°√≠ √∫pravy, kter√© v√°m d√°vaj√≠ smysl (konverze dal≈°√≠ch p≈ô√≠znak≈Ø, odstranƒõn√≠ duplicitn√≠ch √∫daj≈Ø, p≈ôid√°n√≠ nov√Ωch p≈ô√≠znak≈Ø, ...).
  
**üñäÔ∏è Deskriptivn√≠ statistiky** (celkem 6 bod≈Ø)

Volbu vhodn√Ωch statistik pro dan√Ω typ dat komentujte a pokud je to mo≈æn√©, vyu≈æ√≠vejte co nejv√≠ce vizualizace.
* Popi≈°te p≈ô√≠znaky Age upon Intake a DateTime (p≈Øvodnƒõ z datasetu intakes) pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik.
* Vyberte si t≈ôi dal≈°√≠ p≈ô√≠znaky a popi≈°te je pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik, kter√© jsou pro nƒõ vhodn√©.
* Vyberte si dva p≈ô√≠znaky, mezi kter√Ωmi by mohla b√Ωt korelace (dvojice typu Age upon Intake a Age upon Outcome neuzn√°v√°me) a popi≈°te jejich vztah pomoc√≠ bivariaƒçn√≠ch deskriptivn√≠ch statistik.

**‚ùì Zadan√© ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Pomoc√≠ vhodn√Ωch vizualizac√≠ odpov√≠dejte na n√°sleduj√≠c√≠ ot√°zky:
* Z√°vis√≠ typ odchodu zv√≠≈ôete z √∫tulku (Outcome Type) na typu p≈ô√≠chodu (Income Type)? Pokud chcete, uva≈æujte pro zjednodu≈°en√≠ pouze zv√≠≈ôata, kter√° se v ka≈æd√©m datasetu vyskytuj√≠ pr√°vƒõ jednou.
* Hraje vƒõk zv√≠≈ôete roli p≈ôi adopci?
* Je p≈ô√≠jem zv√≠≈ôat v r√°mci roku konstantn√≠ nebo existuj√≠ obdob√≠ s vƒõt≈°√≠/ni≈æ≈°√≠ z√°tƒõ≈æ√≠?

K jedn√© ot√°zce m≈Ø≈æete v p≈ô√≠padƒõ pot≈ôeby vytvo≈ôit v√≠ce vizualizac√≠. V√Ωsledek vizualizace a v≈°echny mezikroky komentujte.

**‚ùì Vlastn√≠ ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Vymyslete **minim√°lnƒõ t≈ôi** vlastn√≠ ot√°zky a odpov√≠dejte na nƒõ vhodn√Ωmi vizualizacemi. Ot√°zky m≈Ø≈æete postavit na ji≈æ zm√≠nƒõn√Ωch datasetech. Tak√© je mo≈æn√© vyu≈æ√≠t t≈ôet√≠ dataset [locations](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2), kter√Ω naleznete v souboru locations.csv, nebo si m≈Ø≈æete st√°hnout nƒõjak√° dal≈°√≠ zaj√≠mav√° data, kter√° souvis√≠ s t√≠mto t√©matem.

Dataset locations poskytuje informace o v≈°ech toulav√Ωch koƒçk√°ch a psech, kter√© jsou v datab√°zi √∫tulku **m√©nƒõ ne≈æ t√Ωden**. Vƒõt≈°ina se nach√°z√≠ v √∫tulku, ale ƒç√°st z nich je u dobrovoln√≠k≈Ø ‚Äì tato informace je uvedena ve sloupci At AAC (AAC ‚Äì Austin Animal Center).

### Bodov√© hodnocen√≠
Shrnut√≠ bod≈Ø, kter√© m≈Ø≈æete nejv√Ω≈°e z√≠skat:
- 3 body za koment√°≈ôe a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø,
- 4 body za p≈ô√≠pravu dat,
- 6 bod≈Ø za deskriptivn√≠ statistiku,
- 6 bod≈Ø za zodpovƒõzen√≠ v≈°ech zadan√Ωch ot√°zek,
- 6 bod≈Ø za definici a zodpovƒõzen√≠ minim√°lnƒõ t≈ô√≠ vlastn√≠ch ot√°zek.

Celkem lze za dom√°c√≠ √∫kol ƒç. 1 z√≠skat maxim√°lnƒõ 25 bod≈Ø.

### P≈ô√≠prava dat

In [1]:
import pandas as pd
import numpy as np

In [2]:
intakes = pd.read_csv('intakes.csv')
outcomes = pd.read_csv('outcomes.csv')

In [3]:
# seznam√≠m se s datasety
display(intakes.head())
display(outcomes.head())

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

### Zjist√≠m informace o DataFramu `intakes`

In [4]:
display(intakes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138585 entries, 0 to 138584
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         138585 non-null  object
 1   Name              97316 non-null   object
 2   DateTime          138585 non-null  object
 3   MonthYear         138585 non-null  object
 4   Found Location    138585 non-null  object
 5   Intake Type       138585 non-null  object
 6   Intake Condition  138585 non-null  object
 7   Animal Type       138585 non-null  object
 8   Sex upon Intake   138584 non-null  object
 9   Age upon Intake   138585 non-null  object
 10  Breed             138585 non-null  object
 11  Color             138585 non-null  object
dtypes: object(12)
memory usage: 12.7+ MB

None

In [5]:
# detekuju chybƒõj√≠c√≠ hodnoty v datasetu
intakes.isna().sum()

Animal ID               0
Name                41269
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
dtype: int64

1. Poƒçet ≈ô√°dk≈Ø datasetu je 138585.
2. Poƒçet p≈ô√≠znak≈Ø je 12.
3. Datov√Ω typ v≈°ech p≈ô√≠znak≈Ø je object.
4. Poƒçet chybƒõjic√≠ch hodnot u p≈ô√≠znaku `Name` je 41269, u `Sex upon Intake` je 1.
5. Ostatn√≠ p≈ô√≠znaky nemaj√≠ chybƒõjic√≠ch hodnot.

In [6]:
# poƒçet unik√°tn√≠ch hodnot, defaultnƒõ ignoruje NaNs
display(intakes.nunique())

Animal ID           123890
Name                 23544
DateTime             97442
MonthYear              103
Found Location       58367
Intake Type              6
Intake Condition        15
Animal Type              5
Sex upon Intake          5
Age upon Intake         54
Breed                 2741
Color                  616
dtype: int64

### Zjist√≠m informace o DataFramu `outcomes`

In [7]:
display(outcomes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138769 entries, 0 to 138768
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         138769 non-null  object
 1   Name              97514 non-null   object
 2   DateTime          138769 non-null  object
 3   MonthYear         138769 non-null  object
 4   Date of Birth     138769 non-null  object
 5   Outcome Type      138746 non-null  object
 6   Outcome Subtype   63435 non-null   object
 7   Animal Type       138769 non-null  object
 8   Sex upon Outcome  138768 non-null  object
 9   Age upon Outcome  138764 non-null  object
 10  Breed             138769 non-null  object
 11  Color             138769 non-null  object
dtypes: object(12)
memory usage: 12.7+ MB

None

In [8]:
outcomes.isna().sum()

Animal ID               0
Name                41255
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type           23
Outcome Subtype     75334
Animal Type             0
Sex upon Outcome        1
Age upon Outcome        5
Breed                   0
Color                   0
dtype: int64

1. Poƒçet ≈ô√°dk≈Ø datasetu je 138769.
2. Poƒçet p≈ô√≠znak≈Ø je 12.
3. Datov√Ω typ v≈°ech p≈ô√≠znak≈Ø je object.
4. Poƒçet chybƒõjic√≠ch hodnot u p≈ô√≠znaku `Name` je 41255, u `Outcome Type` je 23, u `Outcome Subtype` je 75334, u `Age upon Outcome` je 5.
5. Ostatn√≠ p≈ô√≠znaky nemaj√≠ chybƒõjic√≠ch hodnot.

In [9]:
display(outcomes.nunique())

Animal ID           124068
Name                 23425
DateTime            115364
MonthYear              103
Date of Birth         7576
Outcome Type             9
Outcome Subtype         26
Animal Type              5
Sex upon Outcome         5
Age upon Outcome        54
Breed                 2749
Color                  619
dtype: int64

In [10]:
# chybƒõj√≠c√≠ hodnoty v datasetech p≈ôepi≈°u na NaN
intakes = intakes.replace('Unknown', np.nan)
# intakes = intakes.replace('Other', np.nan)

outcomes = outcomes.replace('Unknown', np.nan)
# outcomes = outcomes.replace('Other', np.nan)

### Zkonvertuju kategorick√© p≈ô√≠znaky na typ *category*

In [11]:
for col in ['Name', 'Found Location', 'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake', 'Breed', 'Color']:
    intakes[col] = intakes[col].astype('category')

In [12]:
for col in ['Name', 'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome', 'Breed', 'Color']:
    outcomes[col] = outcomes[col].astype('category')

### P≈ôevedu p≈ô√≠znak Age upon Intake/Outcome na numerick√Ω p≈ô√≠znak

In [13]:
intakes['Age upon Intake'] = pd.to_numeric(intakes['Age upon Intake'], errors='ignore')
#intakes['Age upon Intake'] = intakes['Age upon Intake'].astype('category').apply(lambda x: x.cat.codes)
# intakes.info()
#outcomes['Age upon Outcome'] = pd.to_numeric(outcomes['Age upon Outcome'], errors='coerce')

In [22]:
intakes

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
138580,A856010,Snow,04/27/2022 07:54:00 AM,April 2022,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair,White
138581,A855811,A855811,04/23/2022 01:32:00 PM,April 2022,4414 Dove Dr in Austin (TX),Stray,Normal,Dog,Intact Male,2 months,Labrador Retriever Mix,Brown Brindle/Black
138582,A855815,A855815,04/23/2022 01:32:00 PM,April 2022,4414 Dove Dr in Austin (TX),Stray,Normal,Dog,Intact Female,2 months,Labrador Retriever Mix,Brown/Black
138583,A855818,*Pumbaa,04/23/2022 02:44:00 PM,April 2022,10827 Fm 1820 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Anatol Shepherd/German Shepherd,Brown
138584,A854552,Coco,04/21/2022 12:24:00 PM,April 2022,641 Tillery Street in Austin (TX),Stray,Normal,Dog,Intact Female,9 months,Pit Bull Mix,Black/White

### P≈ôevedu p≈ô√≠znak DateTime na typ datetime64

In [15]:
# intakes['DateTime'] = pd.to_datetime(intakes['DateTime'], dayfirst=True)
# outcomes['DateTime'] = pd.to_datetime(outcomes['DateTime'], dayfirst=True)

In [16]:
# konverzuju dal≈°√≠ch p≈ô√≠znaky datasetu 'outcomes'
# outcomes['Date of Birth'] = pd.to_datetime(outcomes['Date of Birth'], dayfirst=True)
# outcomes['MonthYear'] = pd.to_datetime(outcomes['MonthYear'], dayfirst=True)

#outcomes['Animal ID'] = pd.to_numeric(outcomes['Animal ID'], errors='coerce')

In [17]:
# konverzuju ostatn√≠ p≈ô√≠znaky datasetu 'intakes'
#intakes['Animal ID'] = pd.to_numeric(intakes['Animal ID'], errors='coerce')
#intakes.info()
# –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –Ω—É–ª–µ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è

### Odstranƒõn√≠ duplicitn√≠ch √∫daj≈Ø

In [18]:
intakes = intakes.drop_duplicates()
outcomes = outcomes.drop_duplicates()

### Spoj√≠m datasety do jednoho podle ID zv√≠≈ôete a ƒçasu p≈ôijet√≠ a opu≈°tƒõn√≠ √∫tulku

In [19]:
intakes.merge(outcomes, left_on='Animal ID', right_on='Animal ID')

,Animal ID,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,...,DateTime_y,MonthYear_y,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_y,Sex upon Outcome,Age upon Outcome,Breed_y,Color_y
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,...,01/08/2019 03:11:00 PM,Jan 2019,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,...,07/05/2015 03:13:00 PM,Jul 2015,07/05/2007,Return to Owner,NaN,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,...,04/21/2016 05:17:00 PM,Apr 2016,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,...,10/21/2013 11:39:00 AM,Oct 2013,09/21/2013,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,...,07/02/2014 02:16:00 PM,Jul 2014,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178756,A855746,Oso,04/22/2022 02:36:00 PM,April 2022,Taylor Lane And 969 in Travis (TX),Stray,Normal,Dog,Intact Male,7 months,...,04/26/2022 05:27:00 PM,Apr 2022,08/22/2021,Adoption,NaN,Dog,Neutered Male,8 months,Shih Tzu,White/Tan
178757,A855721,Isis,04/22/2022 12:39:00 PM,April 2022,1149 Ebert Avenue in Austin (TX),Stray,Normal,Dog,Intact Female,3 months,...,04/26/2022 06:07:00 PM,Apr 2022,01/07/2022,Adoption,NaN,Dog,Spayed Female,3 months,Catahoula,Brown Merle/White
178758,A855973,A855973,04/26/2022 04:56:00 PM,April 2022,Austin (TX),Stray,Neonatal,Cat,Intact Female,2 days,...,04/26/2022 06:41:00 PM,Apr 2022,04/24/2022,Transfer,Partner,Cat,Intact Female,2 days,Domestic Shorthair,Cream Tabby
178759,A854552,Coco,04/05/2022 03:43:00 PM,April 2022,641 Tillery Street in Austin (TX),Stray,Normal,Dog,Intact Female,9 months,...,04/06/2022 03:17:00 PM,Apr 2022,04/05/2020,Return to Owner,NaN,Dog,Intact Female,2 years,Pit Bull Mix,Black/White
178760,A854552,Coco,04/21/2022 12:24:00 PM,April 2022,641 Tillery Street in Austin (TX),Stray,Normal,Dog,Intact Female,9 months,...,04/06/2022 03:17:00 PM,Apr 2022,04/05/2020,Return to Owner,NaN,Dog,Intact Female,2 years,Pit Bull Mix,Black/White

In [20]:
#intakes.join(outcomes, on='Animal ID')